In [1]:
import pandas as pd
import scipy

In [4]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [5]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [7]:
data.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [8]:
print('mean = ', data.Age.mean())

mean =  29.69911764705882

In [10]:
print('median = ', data.Age.median())

median =  28.0

In [11]:
data.SibSp

PassengerId
1      1
2      1
3      0
4      1
5      0
6      0
7      0
8      3
9      0
10     1
11     1
12     0
13     0
14     1
15     0
16     0
17     4
18     0
19     1
20     0
21     0
22     0
23     0
24     0
25     3
26     1
27     0
28     3
29     0
30     0
      ..
862    1
863    0
864    8
865    0
866    0
867    1
868    0
869    0
870    1
871    0
872    1
873    0
874    0
875    1
876    0
877    0
878    0
879    0
880    0
881    0
882    0
883    0
884    0
885    0
886    0
887    0
888    0
889    1
890    0
891    0
Name: SibSp, Length: 891, dtype: int64

In [12]:
data.Parch

PassengerId
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      1
9      2
10     0
11     1
12     0
13     0
14     5
15     0
16     0
17     1
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     1
26     5
27     0
28     2
29     0
30     0
      ..
862    0
863    0
864    2
865    0
866    0
867    0
868    0
869    0
870    1
871    0
872    1
873    0
874    0
875    0
876    0
877    0
878    0
879    0
880    1
881    1
882    0
883    0
884    0
885    0
886    5
887    0
888    0
889    2
890    0
891    0
Name: Parch, Length: 891, dtype: int64

In [14]:
data.head()
print()
data.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [15]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
data.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [21]:
print('PearsonCorr = ', data.SibSp.corr(data.Parch))

PearsonCorr =  0.41483769862015646

In [22]:
data.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [24]:
data.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [25]:
342/891*100

38.38383838383838

In [26]:
data.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [27]:
216/891*100

24.242424242424242

In [28]:
data.Name.value_counts()

Zabour, Miss. Thamine                                      1
Pavlovic, Mr. Stefo                                        1
Dooley, Mr. Patrick                                        1
Saad, Mr. Khalil                                           1
Burke, Mr. Jeremiah                                        1
Coleff, Mr. Peju                                           1
Icard, Miss. Amelie                                        1
Smith, Mr. Thomas                                          1
Caram, Mrs. Joseph (Maria Elias)                           1
Thayer, Mr. John Borland                                   1
Blackwell, Mr. Stephen Weart                               1
Asim, Mr. Adola                                            1
Johnston, Mr. Andrew G                                     1
Meyer, Mrs. Edgar Joseph (Leila Saks)                      1
Myhrman, Mr. Pehr Fabian Oliver Malkolm                    1
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)    1
Rogers, Mr. William John                                   1
Moore, Mr. Leonard Charles                                 1
Zabour, Miss. Hileni                                       1
Lemberopolous, Mr. Peter L                                 1
Stephenson, Mrs. Walter Bertram (Martha Eustis)            1
Allen, Mr. William Henry                                   1
White, Mr. Richard Frasar                                  1
McNamee, Mr. Neal                                          1
Rice, Master. Eugene                                       1
Madigan, Miss. Margaret "Maggie"                           1
Danbom, Mr. Ernst Gilbert                                  1
Lahoud, Mr. Sarkis                                         1
Slayter, Miss. Hilda Mary                                  1
Bowerman, Miss. Elsie Edith                                1
                                                          ..
Farrell, Mr. James                                         1
Maisner, Mr. Simon                                         1
Adahl, Mr. Mauritz Nils Martin                             1
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)           1
Carrau, Mr. Francisco M                                    1
Goodwin, Master. Sidney Leonard                            1
Betros, Mr. Tannous                                        1
Coelho, Mr. Domingos Fernandeo                             1
Farthing, Mr. John                                         1
Chapman, Mr. Charles Henry                                 1
Pears, Mr. Thomas Clinton                                  1
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)            1
Brocklebank, Mr. William Alfred                            1
Andersson, Miss. Ebba Iris Alfrida                         1
Harrison, Mr. William                                      1
Renouf, Mr. Peter Henry                                    1
Paulner, Mr. Uscher                                        1
Panula, Master. Urho Abraham                               1
Moor, Master. Meier                                        1
McGough, Mr. James Robert                                  1
Jansson, Mr. Carl Olof                                     1
Ridsdale, Miss. Lucy                                       1
Greenfield, Mr. William Bertram                            1
Peters, Miss. Katie                                        1
Bourke, Miss. Mary                                         1
Dahlberg, Miss. Gerda Ulrika                               1
O'Brien, Mr. Timothy                                       1
Zimmerman, Mr. Leo                                         1
Nirva, Mr. Iisakki Antino Aijo                             1
Homer, Mr. Harry ("Mr E Haven")                            1
Name: Name, Length: 891, dtype: int64

In [29]:
data.Name

PassengerId
1                                Braund, Mr. Owen Harris
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                               Allen, Mr. William Henry
6                                       Moran, Mr. James
7                                McCarthy, Mr. Timothy J
8                         Palsson, Master. Gosta Leonard
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
13                        Saundercock, Mr. William Henry
14                           Andersson, Mr. Anders Johan
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
17                                  Rice, Master. Eugene
18                          Williams, Mr. Charles Eugene
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
21                                  Fynney, Mr. Joseph J
22                                 Beesley, Mr. Lawrence
23                           McGowan, Miss. Anna "Annie"
24                          Sloper, Mr. William Thompson
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27                               Emir, Mr. Farred Chehab
28                        Fortune, Mr. Charles Alexander
29                         O'Dwyer, Miss. Ellen "Nellie"
30                                   Todoroff, Mr. Lalio
                             ...
862                          Giles, Mr. Frederick Edward
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
865                               Gill, Mr. John William
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
868                 Roebling, Mr. Washington Augustus II
869                          van Melkebeke, Mr. Philemon
870                      Johnson, Master. Harold Theodor
871                                    Balkic, Mr. Cerin
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
873                             Carlsson, Mr. Frans Olof
874                          Vander Cruyssen, Mr. Victor
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
877                        Gustafsson, Mr. Alfred Ossian
878                                 Petroff, Mr. Nedelio
879                                   Laleff, Mr. Kristo
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
882                                   Markun, Mr. Johann
883                         Dahlberg, Miss. Gerda Ulrika
884                        Banfield, Mr. Frederick James
885                               Sutehall, Mr. Henry Jr
886                 Rice, Mrs. William (Margaret Norton)
887                                Montvila, Rev. Juozas
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
890                                Behr, Mr. Karl Howell
891                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [30]:
females = data[data['Sex'] == 'female']

In [31]:
females

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0,1,0,2926,26.0000,NaN,S
57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,NaN,S
59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN
...,...,...,...,...,...,...,...,...,...,...,...
808,0,3,"Pettersson, Miss. Ellen Natalia",female,18.0,0,0,347087,7.7750,NaN,S
810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0,1,0,113806,53.1000,E8,S
814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S
817,0,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S
821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
824,1,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S
830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C
836,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C
843,1,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C
854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S
857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [34]:
female_names = females['Name']

In [35]:
female_names

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
23                           McGowan, Miss. Anna "Annie"
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
29                         O'Dwyer, Miss. Ellen "Nellie"
32        Spencer, Mrs. William Augustus (Marie Eugenie)
33                              Glynn, Miss. Mary Agatha
39                    Vander Planke, Miss. Augusta Maria
40                           Nicola-Yarred, Miss. Jamila
41        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
42     Turpin, Mrs. William John Robert (Dorothy Ann ...
44              Laroche, Miss. Simonne Marie Anne Andree
45                         Devaney, Miss. Margaret Delia
48                             O'Driscoll, Miss. Bridget
50         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
53              Harper, Mrs. Henry Sleeper (Myna Haxtun)
54     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
57                                     Rugg, Miss. Emily
59                          West, Miss. Constance Mirium
62                                   Icard, Miss. Amelie
                             ...
808                      Pettersson, Miss. Ellen Natalia
810       Chambers, Mrs. Norman Campbell (Bertha Griggs)
814                   Andersson, Miss. Ebba Iris Alfrida
817                         Heininen, Miss. Wendla Maria
821    Hays, Mrs. Charles Melville (Clara Jennings Gr...
824                                   Moor, Mrs. (Beila)
830            Stone, Mrs. George Nelson (Martha Evelyn)
831              Yasbeck, Mrs. Antoni (Selini Alexander)
836                          Compton, Miss. Sara Rebecca
843                              Serepeca, Miss. Augusta
850         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
853                              Boulos, Miss. Nourelain
854                            Lines, Miss. Mary Conover
855        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
856                           Aks, Mrs. Sam (Leah Rosen)
857           Wick, Mrs. George Dennick (Mary Hitchcock)
859                Baclini, Mrs. Solomon (Latifa Qurban)
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [39]:
type(female_names)

pandas.core.series.Series

In [42]:
type(female_names.str.split('s. ', expand=True))

pandas.core.frame.DataFrame

In [43]:
splited = female_names.str.split('s. ', expand=True)

In [50]:
splited.columns = ['a', 'b', 'c', 'd']

In [56]:
splited.b.value_counts()

Mis                                            18
Mr                                              9
Mary                                            5
Bertha                                          4
Anna                                            3
Anna Sofia                                      3
Hanora "Nora"                                   2
Ellen "Nellie"                                  2
Elizabeth                                       2
Alice                                           2
Marija                                          2
William H (Jessie L)                            1
Carl Oscar (Selma Augusta Emilia Johansson)     1
Ruth                                            1
Hildur E                                        1
Viktor (Helena Wilhelmina)                      1
Amelia "Mildred"                                1
Thomas (Annie Loui                              1
William (Anna Sylfven)                          1
Darwis (Hanne Youssef Razi)                     1
(Marion Ogden)                                  1
Eugenie                                         1
Alice Elizabeth                                 1
Walter Bertram (Martha Eustis)                  1
Emil (Tillie Mandelbaum)                        1
Frank Manley (Anna Sophia Atkinson)             1
(Amelia Milley)                                 1
Helen Mary "Ellie"                              1
Julius (Emelia Maria Vandemoortele)             1
(Ada E Hall)                                    1
                                               ..
Jacques Heath (Lily May Peel)                   1
Samuel L (Edwiga Grabowska)                     1
Anna "Annie"                                    1
Phyllis May                                     1
Delia                                           1
Helene Barbara                                  1
Oscar W (Elisabeth Vilhelmina Berg)             1
Peter Henry (Lillian Jefferys)                  1
Charles V (Ada Maria Winfield)                  1
James (Helene DeLaudeniere Chaput)              1
Jean Gertrude                                   1
Frederic Oakley (Margaretta Corning Stone)      1
Frederick Charles (Jane Richards)               1
Thomas (Johanna "Hannah" Godfrey)               1
Sidney Samuel (Amy Frances Christy)             1
Dorothy Edith "Dolly"                           1
Velin                                           1
Solomon (Latifa Qurban)                         1
Wilhelm (Elna Matilda Persson)                  1
Augusta Charlotta                               1
Dai                                             1
Hilda Mary                                      1
Ida                                             1
Thomas Henry (Mary E Finck)                     1
Madeleine Violet                                1
Fatima                                          1
Lillian Amy                                     1
Erna Alexandra                                  1
Antoni (Selini Alexander)                       1
Margaret Jane                                   1
Name: b, Length: 268, dtype: int64

In [57]:
splited

,a,b,c,d
PassengerId,,,,
2,Cuming,Mr,John Bradley (Florence Briggs Thayer),None
3,"Heikkinen, Mis",Laina,None,None
4,"Futrelle, Mr",Jacques Heath (Lily May Peel),None,None
9,"Johnson, Mr",Oscar W (Elisabeth Vilhelmina Berg),None,None
10,"Nasser, Mr",Nicholas (Adele Achem),None,None
11,"Sandstrom, Mis",Marguerite Rut,None,None
12,"Bonnell, Mis",Elizabeth,None,None
15,"Vestrom, Mis",Hulda Amanda Adolfina,None,None
16,"Hewlett, Mr",(Mary D Kingcome),None,None
19,"Vander Planke, Mr",Julius (Emelia Maria Vandemoortele),None,None
20,"Masselmani, Mr",Fatima,None,None
23,"McGowan, Mis","Anna ""Annie""",None,None
25,"Palsson, Mis",Torborg Danira,None,None
26,"Asplund, Mr",Carl Oscar (Selma Augusta Emilia Johansson),None,None
29,"O'Dwyer, Mis","Ellen ""Nellie""",None,None
32,"Spencer, Mr",William Augustus (Marie Eugenie),None,None
33,"Glynn, Mis",Mary Agatha,None,None
39,"Vander Planke, Mis",Augusta Maria,None,None
40,"Nicola-Yarred, Mis",Jamila,None,None
41,"Ahlin, Mr",Johan (Johanna Persdotter Larsson),None,None
42,"Turpin, Mr",William John Robert (Dorothy Ann Wonnacott),None,None
44,"Laroche, Mis",Simonne Marie Anne Andree,None,None
45,"Devaney, Mis",Margaret Delia,None,None
48,"O'Driscoll, Mis",Bridget,None,None
50,"Arnold-Franchi, Mr",Josef (Josefine Franchi),None,None
53,"Harper, Mr",Henry Sleeper (Myna Haxtun),None,None
54,"Faunthorpe, Mr",Lizzie (Elizabeth Anne Wilkinson),None,None
57,"Rugg, Mis",Emily,None,None
59,"West, Mis",Constance Mirium,None,None
62,"Icard, Mis",Amelie,None,None
...,...,...,...,...
808,"Pettersson, Mis",Ellen Natalia,None,None
810,Chamber,Mr,Norman Campbell (Bertha Griggs),None
814,"Andersson, Mis",Ebba Iris Alfrida,None,None
817,"Heininen, Mis",Wendla Maria,None,None
821,Hay,Mr,Charles Melville (Clara Jennings Gregg),None
824,"Moor, Mr",(Beila),None,None
830,"Stone, Mr",George Nelson (Martha Evelyn),None,None
831,"Yasbeck, Mr",Antoni (Selini Alexander),None,None
836,"Compton, Mis",Sara Rebecca,None,None
843,"Serepeca, Mis",Augusta,None,None
850,"Goldenberg, Mr",Samuel L (Edwiga Grabowska),None,None
853,Boulo,Mis,Nourelain,None
854,Line,Mis,Mary Conover,None
855,"Carter, Mr",Erne,Courtenay (Lilian Hughes),None
856,Ak,Mr,Sam (Leah Rosen),None
857,"Wick, Mr",George Dennick (Mary Hitchcock),None,None
859,"Baclini, Mr",Solomon (Latifa Qurban),None,None
863,"Swift, Mr",Frederick Joel (Margaret Welles Barron),None,None
864,"Sage, Mis","Dorothy Edith ""Dolly""",None,None
866,"Bystrom, Mr",(Karolina),None,None
867,"Duran y More, Mis",Asuncion,None,None
872,"Beckwith, Mr",Richard Leonard (Sallie Monypeny),None,None
875,"Abelson, Mr",Samuel (Hannah Wizosky),None,None
876,"Najib, Mis","Adele Kiamie ""Jane""",None,None
880,"Potter, Mr",Thomas Jr (Lily Alexenia Wilson),None,None
881,"Shelley, Mr",William (Imanita Parri,Hall),None
883,"Dahlberg, Mis",Gerda Ulrika,None,None
886,"Rice, Mr",William (Margaret Norton),None,None
888,"Graham, Mis",Margaret Edith,None,None
889,"Johnston, Mis","Catherine Helen ""Carrie""",None,None

In [58]:
splited2 = female_names.str.split('. ', expand=True)

In [59]:
splited2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
PassengerId,,,,,,,,,,,,,,
2,Cumings,Mrs,Joh,Bradle,(Florenc,Brigg,Thayer),None,None,None,None,None,None,None
3,Heikkinen,Miss,Laina,None,None,None,None,None,None,None,None,None,None,None
4,Futrelle,Mrs,Jacque,Heat,(Lil,Ma,Peel),None,None,None,None,None,None,None
9,Johnson,Mrs,Osca,,(Elisabet,Vilhelmin,Berg),None,None,None,None,None,None,None
10,Nasser,Mrs,Nichola,(Adel,Achem),None,None,None,None,None,None,None,None,None
11,Sandstrom,Miss,Marguerit,Rut,None,None,None,None,None,None,None,None,None,None
12,Bonnell,Miss,Elizabeth,None,None,None,None,None,None,None,None,None,None,None
15,Vestrom,Miss,Huld,Amand,Adolfina,None,None,None,None,None,None,None,None,None
16,Hewlett,Mrs,(Mar,,Kingcome,,None,None,None,None,None,None,None,None
19,Vande,Planke,Mrs,Juliu,(Emeli,Mari,Vandemoortele),None,None,None,None,None,None,None
20,Masselmani,Mrs,Fatima,None,None,None,None,None,None,None,None,None,None,None
23,McGowan,Miss,Ann,"""Annie""",None,None,None,None,None,None,None,None,None,None
25,Palsson,Miss,Torbor,Danira,None,None,None,None,None,None,None,None,None,None
26,Asplund,Mrs,Car,Osca,(Selm,August,Emili,Johansson),None,None,None,None,None,None
29,O'Dwyer,Miss,Elle,"""Nellie""",None,None,None,None,None,None,None,None,None,None
32,Spencer,Mrs,Willia,Augustu,(Mari,Eugenie),None,None,None,None,None,None,None,None
33,Glynn,Miss,Mar,Agatha,None,None,None,None,None,None,None,None,None,None
39,Vande,Planke,Miss,August,Maria,None,None,None,None,None,None,None,None,None
40,Nicola-Yarred,Miss,Jamila,None,None,None,None,None,None,None,None,None,None,None
41,Ahlin,Mrs,Joha,(Johann,Persdotte,Larsson),None,None,None,None,None,None,None,None
42,Turpin,Mrs,Willia,Joh,Rober,(Doroth,An,Wonnacott),None,None,None,None,None,None
44,Laroche,Miss,Simonn,Mari,Ann,Andree,None,None,None,None,None,None,None,None
45,Devaney,Miss,Margare,Delia,None,None,None,None,None,None,None,None,None,None
48,O'Driscoll,Miss,Bridget,None,None,None,None,None,None,None,None,None,None,None
50,Arnold-Franchi,Mrs,Jose,(Josefin,Franchi),None,None,None,None,None,None,None,None,None
53,Harper,Mrs,Henr,Sleepe,(Myn,Haxtun),None,None,None,None,None,None,None,None
54,Faunthorpe,Mrs,Lizzi,(Elizabet,Ann,Wilkinson),None,None,None,None,None,None,None,None
57,Rugg,Miss,Emily,None,None,None,None,None,None,None,None,None,None,None
59,West,Miss,Constanc,Mirium,None,None,None,None,None,None,None,None,None,None
62,Icard,Miss,Amelie,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,Pettersson,Miss,Elle,Natalia,None,None,None,None,None,None,None,None,None,None
810,Chambers,Mrs,Norma,Campbel,(Berth,Griggs),None,None,None,None,None,None,None,None
814,Andersson,Miss,Ebb,Iri,Alfrida,None,None,None,None,None,None,None,None,None
817,Heininen,Miss,Wendl,Maria,None,None,None,None,None,None,None,None,None,None
821,Hays,Mrs,Charle,Melvill,(Clar,Jenning,Gregg),None,None,None,None,None,None,None
824,Moor,Mrs,(Beila),None,None,None,None,None,None,None,None,None,None,None
830,Stone,Mrs,Georg,Nelso,(Marth,Evelyn),None,None,None,None,None,None,None,None
831,Yasbeck,Mrs,Anton,(Selin,Alexander),None,None,None,None,None,None,None,None,None
836,Compton,Miss,Sar,Rebecca,None,None,None,None,None,None,None,None,None,None
843,Serepeca,Miss,Augusta,None,None,None,None,None,None,None,None,None,None,None
850,Goldenberg,Mrs,Samue,,(Edwig,Grabowska),None,None,None,None,None,None,None,None
853,Boulos,Miss,Nourelain,None,None,None,None,None,None,None,None,None,None,None
854,Lines,Miss,Mar,Conover,None,None,None,None,None,None,None,None,None,None
855,Carter,Mrs,Ernes,Courtena,(Lilia,Hughes),None,None,None,None,None,None,None,None
856,Aks,Mrs,Sa,(Lea,Rosen),None,None,None,None,None,None,None,None,None
857,Wick,Mrs,Georg,Dennic,(Mar,Hitchcock),None,None,None,None,None,None,None,None
859,Baclini,Mrs,Solomo,(Latif,Qurban),None,None,None,None,None,None,None,None,None
863,Swift,Mrs,Frederic,Joe,(Margare,Welle,Barron),None,None,None,None,None,None,None
864,Sage,Miss,Doroth,Edit,"""Dolly""",None,None,None,None,None,None,None,None,None
866,Bystrom,Mrs,(Karolina),None,None,None,None,None,None,None,None,None,None,None
867,Dura,,More,Miss,Asuncion,None,None,None,None,None,None,None,None,None
872,Beckwith,Mrs,Richar,Leonar,(Salli,Monypeny),None,None,None,None,None,None,None,None
875,Abelson,Mrs,Samue,(Hanna,Wizosky),None,None,None,None,None,None,None,None,None
876,Najib,Miss,Adel,Kiami,"""Jane""",None,None,None,None,None,None,None,None,None
880,Potter,Mrs,Thoma,J,(Lil,Alexeni,Wilson),None,None,None,None,None,None,None
881,Shelley,Mrs,Willia,(Imanit,Parris,Hall),None,None,None,None,None,None,None,None
883,Dahlberg,Miss,Gerd,Ulrika,None,None,None,None,None,None,None,None,None,None
886,Rice,Mrs,Willia,(Margare,Norton),None,None,None,None,None,None,None,None,None
888,Graham,Miss,Margare,Edith,None,None,None,None,None,None,None,None,None,None
889,Johnston,Miss,Catherin,Hele,"""Carrie""",None,None,None,None,None,None,None,None,None